.filter-section {
    text-align: center;
    position: relative;
    color: white;
}

.background-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.filter-container {
    margin: 20px auto; /* Zentrieren der Filter-Container */
    display: flex;
    flex-wrap: wrap; /* Ermöglicht das Umbruch der Eingabefelder */
    justify-content: center; /* Zentrieren der Eingabefelder */
}

.filter-container input {
    padding: 10px;
    width: calc(50% - 25px); /* Zwei Eingabefelder pro Zeile */
    max-width: 200px; /* Maximalbreite der Eingabefelder */
    border: 2px solid #2d3a3a; /* Umrandung hinzufügen */
    border-radius: 25px;
    margin: 10px; /* Abstand zwischen den Eingabefeldern */

    outline: none;
    transition: border-color 0.3s ease;
}

.filter-container input:focus {
    border-color: #278f86;
}

/* Media Query für kleinere Bildschirmgrößen */
@media (max-width: 600px) {
    .filter-container input {
        width: calc(100% - 20px); /* Ein Eingabefeld pro Zeile */
    }
}
