/* Grid.css */

/* Styles généraux pour le footer */
.footer-section {
    background: linear-gradient(180deg, rgba(32,148,137,1) 0%, rgba(0,194,177,1) 60%);
    padding: 20px;
    border-top: 1px solid #e7e7e7;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-info,
.footer-navigation,
.footer-service,
.footer-zahlung,
.footer-legal {
    flex: 1;
    margin: 10px;
}

.footer-info h1,
.footer-navigation h2,
.footer-service h2,
.footer-zahlung h2,
.footer-legal h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-info p,
.footer-navigation p,
.footer-service p,
.footer-zahlung p,
.footer-legal p {
    margin: 5px 0;
}

.footer-info a,
.footer-navigation a,
.footer-service a,
.footer-zahlung a,
.footer-legal a {
    color: #333;
    text-decoration: none;
}

.footer-info a:hover,
.footer-navigation a:hover,
.footer-service a:hover,
.footer-zahlung a:hover,
.footer-legal a:hover {
    text-decoration: underline;
    color: #eeebe7; 
    
}

/* Classe pour le lien sélectionné */
.selected {
    color: rgb(206, 17, 17); /* Couleur de votre choix pour le lien sélectionné */
}

/* Styles pour la section de la grille */
.grid-section {
    padding: 20px;
    background-color: #fff;
   
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid-item {
    flex: 1 0 21%; /* Ajustez cette valeur pour changer le nombre d'éléments par ligne */
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    background-color: #f9f9f9;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.grid-item p {
    margin: 5px 0;
}
